.footer {
  @include media-breakpoint-up(lg) {
    background-color: $main-col-secondary;
    color: $main-col-primary;
    padding: 40px 0;
    font-size: 22px;
  }

  .wrap-footer-container {
    &.container-lg {
      padding-left: 0;
      padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      grid-template-columns: 3fr 1fr;
    }
  }
  .wrap-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $grey-dark-col;
    width: 100%;
    color: $white;
    padding: 33px 37px 31px;

    @include media-breakpoint-up(lg) {
      background: transparent;
      color: inherit;
      grid-template-columns: repeat(3, 1fr);

      & > * {
        justify-self: start;
      }
    }

    .mobile-footer-nav {
      a {
        text-decoration: underline;
      }
    }
  }

  .footer-contact {
    @include media-breakpoint-up(lg) {
      grid-column: 1/2;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 1.8;
    }
  }

  .mobile-header-nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: auto;
  }

  .footer-nav-primary {
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    @include media-breakpoint-up(lg) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  .footer-nav-secondary {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    @include media-breakpoint-up(lg) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  .footer-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 2.5;

    @include media-breakpoint-up(lg) {
      border: none;
      line-height: 1.8;
    }
  }

  .mobile-footer-nav {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
